.flappy {
	background-image: url(flappy.png);
	position: absolute;
	width: 34px;
	height: 24px;
	background-position: -174px -982px;
	
	-webkit-animation-duration: 0.7s;
	-webkit-animation-name: flap;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: step-end;
}

@-webkit-keyframes flap {
	from {
		background-position: -174px -982px;
	}
	25% {
		background-position: -230px -658px;
	}
	50% {
		background-position: -230px -710px;
	}
	75% {
		background-position: -230px -658px;
	}
}