.img-flappy {
	background-image: url(flappy.png);
	position: absolute;
	width: 34px;
	height: 24px;
	background-position: -174px -982px;
	left: 127px;
	z-index: 8;
	
	-webkit-animation-duration: 0.7s;
	-webkit-animation-name: flap;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: step-end;
}

.container {
	position: absolute;
	overflow: hidden;
	width: 288px;
	height: 623px;
}

.flash {
	position: absolute;
  	background: white; 
  	opacity: 0;
  	width: 288px;
	height: 623px;
	z-index: 100;
	-webkit-transition: opacity 0.1s ease-in-out;
}

.img-landscape{
	background-image: url(flappy.png);
	position: absolute;
	width: 288px;
	height: 511px;
	z-index: 1;
}

.img-ground{
	background-image: url(flappy.png);
	position: absolute;
	width: 288px;
	height: 112px;
	/*background-position: -584px 0px;*/
	background-position: -584px 0px;
	background-repeat: repeat-x;
	top: 512px;
	z-index: 10;
}

.img-pipe-hole-up{
	background-image: url(flappy.png);
	position: absolute;
	width: 52px;
	height: 320px;
	background-position: -168px -646px;
	bottom: 112px;
	z-index: 5;
}

.img-pipe-hole-down{
	background-image: url(flappy.png);
	position: absolute;
	width: 52px;
	height: 320px;
	background-position: -112px -646px;
	top: 0px;
	z-index: 5;
}

.img-pipe-10px{
	background-image: url(flappy.png);
	position: absolute;
	width: 48px;
	height: 10px;
	background-position: -114px -646px;
}

.img-score-zero{
	background-image: url(flappy.png);
	position: absolute;
	width: 24px;
	height: 36px;
	background-position: -992px -120px;
	top: 10px;
	z-index: 10;
}

.img-score-one{
	background-image: url(flappy.png);
	position: absolute;
	width: 24px;
	height: 36px;
	background-position: -269px -910px;
	top: 10px;
	z-index: 10;
}

.img-score-two{
	background-image: url(flappy.png);
	position: absolute;
	width: 24px;
	height: 36px;
	background-position: -584px -320px;
	top: 10px;
	z-index: 10;
}

.img-score-three{
	background-image: url(flappy.png);
	position: absolute;
	width: 24px;
	height: 36px;
	background-position: -612px -320px;
	top: 10px;
	z-index: 10;
}

.img-score-four{
	background-image: url(flappy.png);
	position: absolute;
	width: 24px;
	height: 36px;
	background-position: -640px -320px;
	top: 10px;
	z-index: 10;
}

.img-score-five{
	background-image: url(flappy.png);
	position: absolute;
	width: 24px;
	height: 36px;
	background-position: -668px -320px;
	top: 10px;
	z-index: 10;
}

.img-score-six{
	background-image: url(flappy.png);
	position: absolute;
	width: 24px;
	height: 36px;
	background-position: -584px -368px;
	top: 10px;
	z-index: 10;
}

.img-score-seven{
	background-image: url(flappy.png);
	position: absolute;
	width: 24px;
	height: 36px;
	background-position: -612px -368px;
	top: 10px;
	z-index: 10;
}

.img-score-eight{
	background-image: url(flappy.png);
	position: absolute;
	width: 24px;
	height: 36px;
	background-position: -640px -368px;
	top: 10px;
	z-index: 10;
}

.img-score-nine{
	background-image: url(flappy.png);
	position: absolute;
	width: 24px;
	height: 36px;
	background-position: -668px -368px;
	top: 10px;
	z-index: 10;
}

.img-play{
	background-image: url(flappy.png);
	position: absolute;
	width: 108px; /* 4px drop shadow */
	height: 62px; /* 4px drop shadow */
	background-position: -708px -236px;
	left: 90px;
	top: 100px;
	z-index: 101;
	display: none;
}

.img-logo{
	background-image: url(flappy.png);
	position: absolute;
	background-position: -701px -182px;
	width: 179px;
	height: 48px;
	z-index: 10;
}

@-webkit-keyframes flap {

	from {
		background-position: -174px -982px;
	}
	25% {
		background-position: -230px -658px;
	}
	50% {
		background-position: -230px -710px;
	}
	75% {
		background-position: -230px -658px;
	}
}